:root {
    font-family: mononoki;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #000;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

html, body {
    margin: 0;  
    background-color: #eee;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

#header {
    padding-top: 0.1%;
    padding-left: 1%;
    background-color: #bcd;
    height: 50px;
}

#headings {
    float:left;
}

img {
    padding: 0px 0 0 0;
}

h1 {
    font-size: 20px;
    padding: 0 20px 0 0;
    margin-top: 6.5px;
}

h2 {
    font-size: 1.2em;
    padding: 0 0 0 0;
}

#config {
    padding: 0.4em 0 10px 0px;
    margin: 0 10px 0 0.1%;
}

#config label:after {
    content: ":";
}

#project {
    margin: 0 10px 0 0.1%;
}

#editor {
    padding: 0 0 0 0;
    margin: -20px 0 0 0;
    background-color: #eee;
    height: 70%;
}

.cm-editor {
    text-align: left;    
    border-color: #aaa;
    background-color: #fff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#code-editor {
    clear:left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #ccc;
}

#eval_code {
    margin-top: 0.85em;
    margin-left: 20px; 
}

#editor_header {
    float: left;
    margin-left: 0.5%;
}

#documentation {
    margin-top: -30px;
    padding-left: 0.5%;
    background-color: #dfc;
    height: 30%;
}

.example-card {
    float:left;
    padding-left: 30px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
	color: #213547;
	background-color: #ffffff;
    }
    a:hover {
	color: #747bff;
    }
    button {
	background-color: #f9f9f9;
    }
}
